.home { 
  background: #7CDBD5;
  width: 100%;
  min-height: 100vh;
}

.main_content section {
  min-height: calc(100vh - 100px);
}

.main_title {
  text-align: center;
  font-size: 48px;
}

.main_subtitle {
  text-align: center;
  font-size: 36px;
}

.videos-container {
  text-align: center;
}