@import '../../stylesheets/variables';

.filters {
  font-size: $fontSizeSmall;
  font-family: $fontQuicksand;
}

.form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

input[type="text"], label {
  height: 30px;
  margin: 10px;
}

select {
  margin: 10px;
  height: 40px;
  width: 100px;
  font-size: $fontSizeSmall;
}

.button {
  cursor: pointer;
  font-size: $fontSizeExtraSmall;
  font-family: $fontQuicksand;
  font-weight: bold;
  width: 150px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid $colorEggplant;
}

.button-submit {
  background-color: $colorCleanBlue;
}

.button-reset {
  background-color: $colorSalmon;
}

@media all and (max-width:320px) {
  .form {
    flex-direction: column;
    align-items: flex-start;
  }
}
