// COLORS
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorSunshine: #f9be02;
$colorRed: #F53240;
$colorSkyBlue: #7CDBD5;

// FONTS
$fontIndie: 'Indie Flower', cursive;

$fontSizeExtraLarge: 60px;
$fontSizeLarge: 48px;
$fontSizeMedium: 36px;
$fontSizeSmall: 20px;