@import '../../stylesheets/variables';

.header {
  height: 70px;
  padding: 10px;
  background: $colorSalmon;
  display: flex;
  align-items: center;
}

.header_menu {
  width: 100%;
}

.header_menu-list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.header_menu-list li {
  margin: 10px;
  padding: 8px;
  width: 90px;
  text-align: center;
  font-size: $fontSizeSmall;
  font-weight: bold;
  height: 30px;
  background: $colorEggplant;
  border-radius: 5px;
}

.header_menu-list li:hover {
  cursor: pointer;
}

.header_menu-item a {
  text-decoration: none;
  color: $colorWhite;
}